<div class="container-fluid">

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <h1>Login</h1>

        <input ng-model="model.user.username" type="text" class="form-control" placeholder="username">
        <input ng-model="model.user.password" type="password" class="form-control" placeholder="password">

        <a class="btn btn-primary btn-block" ng-click="model.login(model.user)">Login</a>
        <a class="btn btn-success btn-block" href="#/register">Register</a>

    </div>
</div>

