<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/user/{{model.user._id}}">
                Profile
            </a>
            <p class="nav navbar-text pull-right">
                <a ng-click="model.updateProfile(model.user)"><span class="glyphicon glyphicon-ok"></span></a>
            </p>
        </div>
    </div>
</nav>
<div ng-if="model.error" class="alert alert-danger" role="alert">
    {{model.error}}
</div>
<div ng-if="model.success" class="alert alert-success" role="alert">
    {{model.success}}
</div>
<div class="container-fluid">

    <label for="username">Username</label>
    <input ng-model="model.user.username" type="text" class="form-control" placeholder="vyshaal" id="username">

    <label for="email">Email</label>
    <input ng-model="model.user.email" type="email" class="form-control" placeholder="vyshaalnarayanam@gmail.com" id="email">

    <label for="firstname">First Name</label>
    <input ng-model="model.user.firstName" type="text" class="form-control" placeholder="Vyshaal" id="firstname">

    <label for="lastname">Last Name</label>
    <input ng-model="model.user.lastName" type="text" class="form-control" placeholder="Narayanam" id="lastname">

    <a class="btn btn-primary btn-block" href="#/user/{{model.user._id}}/website">Websites</a>
    <a class="btn btn-danger btn-block" href="#/login">Logout</a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="nav navbar-text pull-right">
                <a href="#/user/{{model.user._id}}"><span class="glyphicon glyphicon-user"></span></a>
            </p>
        </div>
    </div>
</nav>
