<div class="container-fluid">
    <h1>Register</h1>
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <div ng-show="model.success" class="alert alert-success" role="alert">
        {{model.success}}
    </div>
    <input ng-model="model.user.username" type="text" class="form-control" placeholder="username">
    <input ng-model="model.user.password" type="password" class="form-control" placeholder="password">
    <input ng-model="model.user.verifypassword" type="password" class="form-control" placeholder="verify password">

    <a class="btn btn-primary btn-block" ng-click="model.register(model.user)">Register</a>
    <a class="btn btn-danger btn-block" href="#/login">Cancel</a>
</div>
