
<div class="container-fluid">

    <label for="name">Name</label>
    <input ng-model="model.widget.name" type="text" class="form-control" placeholder="name" id="name">

    <label for="text">Text</label>
    <input ng-model="model.widget.text" type="text" class="form-control" placeholder="text" id="text">

    <label for="url">URL</label>
    <input ng-model="model.widget.url" type="text" class="form-control" placeholder="https://google/some/video.com" id="url">

    <label for="width">Width</label>
    <input ng-model="model.widget.width" type="text" class="form-control" placeholder="100%" id="width">

    <a class="btn btn-danger btn-block" ng-click="model.deleteWidget(model.wgid)">Delete</a>

</div>